body { 
  background:#1e1e1e; 
  color:white; 
  padding:20px; 
  font-family: Arial; 
}

h3 { 
  text-align:center;
  color: rgb(170, 170, 170);
  font-size: 30px;
  margin-bottom:20px; 
}

label { 
  display:block; 
  margin:15px 0 8px; 
  color: rgb(170, 170, 170);
  font-size: 16px;
}

input { 
width: 100%;
height: 15px;
padding: 13px 5px;
font-size: 15px;
background: white;
background-color: rgb(170, 170, 170);
border: 1px solid #e5e7eb;
border-radius: 14px;
outline: none;
transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
}

.btns { margin-top:20px; }

button { 
  padding: 13px 5px;
  border: none;
  border-radius: 14px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
  overflow: hidden;
  letter-spacing: -0.2px;
  display: flex;
  margin: 20px auto;
  width: 200px;
  height:40px;
  justify-content: center; /* горизонтальное выравнивание */
  align-items: center;
}

button:hover {
  background: #e5e7eb;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
}

button:active {
  transform: translateY(0);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
} 

.saveBtn {
  background: #f3f4f6;
  color: #1f2937;
}
#backBtn {
  background: #f0f9ff;
  color: #0c4a6e;
}